<div class="app">
  <form class="form" [formGroup]="formData" #form="ngForm" (ngSubmit)="submitedForm()">
    <div>
      <input type="file" (change)="uploadFile($event)">
      <mat-error *ngIf="!this.formData.controls['image'].value">
        Image is <strong>required</strong>
      </mat-error>
    </div>
    
    <mat-form-field class="form__input" appearance="fill">
      <mat-label>URL</mat-label>
      <input type="url" matInput value="" formControlName="url">
      <mat-error *ngIf="this.formData.controls['url'].hasError('required')">
        URL is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="this.formData.controls['url'].errors">
        URL must be <strong>correct</strong>
      </mat-error>
    </mat-form-field>
    
    <mat-form-field class="form__input" appearance="fill">
      <mat-label>Animation</mat-label>
      <mat-select matInput value="" formControlName="animation">
        <mat-option *ngFor="let animation of animations" [value]="animation">
          {{animation}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="this.formData.controls['animation'].hasError('required')">
        Animation is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    
  <button mat-button color="primary"
    type="submit"
    [disabled]="!this.formData.valid"
    >
    GO
  </button>
  </form>

  <app-res *ngIf="show" [dataFromForm]="dataFromForm"></app-res>
</div>