
.app {
  padding: 40px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  gap: 4rem;
  background-color: rgb(150, 155, 153);
    @media (max-width: 1024px) {
      flex-direction: column;
      padding: 20px;
    }
}

.form {
  padding: 20px;
  width: 280px;
  height: 320px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(234, 246, 243);
  border-radius: 12px;
    @media (max-width: 1024px) {
      padding: 10px;
      width: 84%;
    }
}

#fileInput {
  display: none;
}
label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  background-color: rgb(201, 230, 228);
  border: 1px solid black;
  &:hover {
    cursor: pointer;
  }
}
